/*学校のロゴ写真*/
#schoollogo{
    width: 300px;
    height: 80px;
}

/*bodyタグ*/
body{
   margin-left: 0%;
   margin-right: 0%;
}

/*headerクラス*/
.header{
    display:flex;
    list-style-type: none;
    /* text-align: right; */
}

/*青線*/
#bar{
    height: 30px;
    background-color:#5b9bd5;
 
}

.button{
    background-color: #5b9bd4;
    border-radius: 5px;
    width: 350px;
    height: 180px;
    font-size: 30pt;
    color: #ffffff;
}

#notext{
    font-size: 50px;
}

/*テキストid*/
#text{
    background-color: #e2f0d9;
    font-size: 40px;
}

/*textクラス*/
.text{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#yes{
    position: fixed;
    left: 200px;
}

#no{
    position: fixed;
    left: 700px;
}

#back{
    position: fixed;
   left: 1000px;
   top: 30px;
}




@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
    .button {
        background-color: #5b9bd5;
        border-radius: 5px;
        width: 300px;
        height: 150px;
    }

    #yes{
        position: fixed;
        left: 40px;
    }

    #no{
        position: fixed;
        left: 40px;
        top: 450px;
    }
    #text,#notext{
        font-size: 25px;
    }

    #bar{
        height: 20px;
    }
}